.RegisterPageBackGround {
    box-sizing: border-box;
    background-position: center;
}
.register {
    flex-direction: column;
    height: auto;
    width: 80%;
    position: relative;
}
.registerPage {
    height: auto;
    width: 80%;
}
.registerImage {
    height: 40rem;
    width: 41rem;
    margin-left: 37rem;
    margin-top: -33rem;
}
.btnDiv {
    gap: 1rem;
    flex-direction: column;
    margin-top: -28rem;
    margin-left: 5rem;
    display:grid;
}
.FirstName {
    width: 20rem;
    height: 3rem;
    background: aliceblue;
    text-align: left;
    font-size: 1rem;
}
.LastName {
    width: 20rem;
    height: 3rem;
    background: aliceblue;
    text-align: left;
    font-size: 1rem;

}
.Email {
    width: 20rem;
    height: 3rem;
    background: aliceblue;
    text-align: left;
    font-size: 1rem;

}
.Password {
    width: 20rem;
    height: 3rem;
    background: aliceblue;
    text-align: left;
    font-size: 1rem;

}
.PhoneNumber {
    width: 20rem;
    height: 3rem;
    background: aliceblue;
    text-align: left;
    font-size: 1rem;
}
.register {
    width: 1rem;
    height: 3rem;
    background: red;
    text-align: left;
    font-size: 1.5rem;
}
.welcome {
    margin-left: 5rem;
    margin-bottom: 10rem;
    font-size: 3rem;
    height: 20rem;
    width: 50rem;
}
.registerButton{
    width:80px;
    height:40px;
    margin-left: 5rem;
    color: black;
    background: red;
}